*{
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: "Inter";
    margin: 20px 20px;
    padding: 0;
}

a {
	text-decoration: none;
}

.nav{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 55px;

}

.nav img{
    height: 48px;
    width: 48px;
    margin: 7px 7px;
}

.label{
    position: relative;
    width: 100px;
    height: 20px;
    display: block;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}

.label:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-radius: 100px;
    transition: 1s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

input:checked ~ .label:after{
    left: 80px;
    transition: 2s ease;
    background: linear-gradient(180deg,#777,#3a3a3a);
}

input:checked ~ .label{
    background: #242424;
}
 
.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

input:checked + .label + .background{
    background: #242424;
}

input{
    display: none;
}

.contenedor {
	width: 55px;
	height: 55px;
	max-width: 1000px;
    margin: 21px;
    align-items: center;
}

.select {
	width: 60px;
	height: 60px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    align-self: center;
	transition: .3s ease all;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.contenido-select {
	color: #0A3871;
	font-size: 13px;
	text-align: center;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
    width: 60px;
	display: none;
}

.opciones.active {
	margin-top: 10px;
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	justify-content: center;
	align-items: center;
}

.contenido-opcion img {
	width: 40px;
	height: 40px;
    margin: 10px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}

.row{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: stretch;
    margin-top: 20px;
}

.entrada{
    display: flex;
    flex-basis: 70%;
    height: 800px;
    padding: 15px;
    border-color: #0A3871;
    border-width: 1px;
    flex-direction: column;
    justify-content: space-between;
}

.input-t{
    width: 95%;
    position: relative;
}

.text-input{
    resize: none;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 500px;
    border: 0;
    outline: 0;
    background-color: #E5E5E5;
    cursor: text;
}

.condicion{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.condicion img{
    margin-right: 7px;
}

.condicion .p{
    font-size: 17px;
    margin: 0;
}

.bttn{
    display: flex;
    justify-content: center;
    padding: 0px;
}

#bttn-E{
    width: 330px;
    height: 72px;
    color: #fff;
    background: #0A3871;
    padding: 24px;
    margin: 20px;
    border-radius: 24px;
    border-style: none;
    font-size: 20px;
    gap: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#bttn-D{
    width: 330px;
    height: 72px;
    color: #0A3871;
    background: #D8DFE8;
    padding: 24px;
    margin: 20px;
    border-radius: 24px;
    border-color: #0A3871;
    border-width: 1px;
    font-size: 20px;
    gap: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#salida{
    flex-basis: 30%;
    display: flex;
    height: 800px;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    border-color: #0A3871;
    border-width: 1px;
}

.n-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px;
}

.salida .n-text img{
    height: 305px;
    width: 330px;
}

.text-s{
    width: 330px;
    height: 120px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-s h2,.text-s p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 10px 0px 0px;
}

.c-text{
    display: none;
    flex-direction: column;
    gap: 50px;
}

#text-out{
    color: black;
    font-size: large;
    height: 650px;
    margin: 0px 20px
}

#bttn-C{
    align-self: flex-end;
    background: none;
    border-style: none;
}

#bttn-C-img{
    height: 50px;
    width: 50px;
}

@media screen and (max-width:700px){

    .nav, .row{
        flex-direction: column;
    }
    
}